{% extends 'base.html' %}

{% block title %}{{ document.name }} - CashflowerHub{% endblock %}

{% block content %}
    <h2 class="my-4">{{ document.name }}</h2>
    <p>ID: {{ document.id }}</p>
    <p>File: <a href="{{ document.file.url }}">{{ document.file.name }}</a></p>
    {% if document.cash_flow_models.exists %}
        <h3>Related Cash Flow Models:</h3>
        <ul>
            {% for model in document.cash_flow_models.all %}
                <li>{{ model.name }} <a href="{% url 'model_detail' model.pk %}">(View)</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'document_edit' document.pk %}" class="btn btn-primary btn-sm mr-2">Edit</a>
    <a href="{% url 'document_delete' document.pk %}" class="btn btn-danger btn-sm">Delete</a>
{% endblock %}