{% extends 'base.html' %}

{% block title %}{{ model.name }} - CashflowerHub{% endblock %}

{% block content %}
    <h2 class="my-4">{{ model.name }} </h2>
    <p>Repository URL: <a href="{{ model.repository_url }}">{{ model.repository_url }}</a></p>
    <p>Description: {{ model.short_description }}</p>
    <a href="{% url 'model_edit' model.pk %}" class="btn btn-primary btn-sm mr-2">Edit</a>
    <a href="{% url 'model_delete' model.pk %}" class="btn btn-danger btn-sm">Delete</a>
{% endblock %}
