{% extends 'base.html' %}

{% block title %}Models - Cashflowerhub{% endblock %}

{% block content %}
    <h2 class="my-4">Models</h2>
    <a href="{% url 'model_add' %}" type="button" class="btn btn-success">Add model</a>
    <div class="model-list">
        {% for model in cashflow_models %}
            <div class="model-item">
                <h5 class="model-title">{{ model.name }} ({{ model.id }})</h5>
                <p class="model-repo">Repository: <a href="{{ model.repository_url }}">{{ model.repository_url }}</a></p>
                <p class="model-description">{{ model.short_description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
