{% extends 'base.html' %}

{% block title %}Models - Cashflowerhub{% endblock %}

{% block content %}
    <h2 class="my-4">Models</h2>
    <button type="button" class="btn btn-primary">Add New Model</button>
    <div class="model-list">
        {% for model in cashflow_models %}
            <div class="model-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="model-title">{{ model.name }} ({{ model.id }})</h5>
                    <small>Updated {{ model.updated_at }}</small>
                </div>
                <p class="model-repo">Repository: <a href="{{ model.repository_url }}">{{ model.repository_url }}</a></p>
                <p class="model-description">{{ model.short_description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
