{% extends 'base.html' %}

{% block title %}Edit model - CashflowerHub{% endblock %}

{% block content %}
    <h2 class="my-4">Edit model</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="container">
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">
                        {{ field.label }}
                    </label>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'model' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
