{% extends 'base.html' %}

{% block title %}Runs - Cashflowerhub{% endblock %}

{% block content %}
    <h2 class="my-4">Runs</h2>

    <div class="run-list">
        <!-- Example Run 1 -->
        <div class="run-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center run-details">
                    <p class="run-info id mb-0"><b>#16</b></p>
                    <p class="run-info model mb-0">Model: <b>Annuity (13)</b></p>
                    <p class="run-info version mb-0">Version: <b>3-5</b></p>
                </div>
                <div class="run-status completed">Completed</div>
            </div>
        </div>

        <!-- Example Run 2 -->
        <div class="run-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center run-details">
                    <p class="run-info id mb-0"><b>#15</b></p>
                    <p class="run-info model mb-0">Model: <b>Whole Life Insurance (9)</b></p>
                    <p class="run-info version mb-0">Version: <b>2</b></p>
                </div>
                <div class="run-status running">Running</div>
            </div>
        </div>

        <!-- Example Run 3 -->
        <div class="run-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center run-details">
                    <p class="run-info id mb-0"><b>#14</b></p>
                    <p class="run-info model mb-0">Model: <b>Whole Life Insurance (9)</b></p>
                    <p class="run-info version mb-0">Version: <b>1</b></p>
                </div>
                <div class="run-status error">Error</div>
            </div>
        </div>

        <!-- Example Run 4 -->
        <div class="run-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center run-details">
                    <p class="run-info id mb-0"><b>#13</b></p>
                    <p class="run-info model mb-0">Model: <b>Term Life Insurance (5)</b></p>
                    <p class="run-info version mb-0">Version: <b>4</b></p>
                </div>
                <div class="run-status pending">Pending</div>
            </div>
        </div>
    </div>

{% endblock %}
